* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #ADB5BD;
    padding: 15px 100px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

header .logo img {
    /* width: 150px;
   height:75px;
   position:fixed;
   
    top:0;
    left:0;
     */
    position: absolute;
  left: 10px; /* Keeps the logo in the left corner */
  top: 5%;
  transform: translateY(-50%);
  cursor:pointer;
    
     
}
.error{
    color:red;
    margin:5px 0;
}



.contact-header{
    text-align:center;
    align-items:center;
    padding:10px;
}
.contact-header u{
    text-decoration:underline;
    
   
}
.contact-header p{
    color:black;
    padding:10px;
}

.contact-section {
   
    height:100%;
    width:100%;
    padding: 20px 100px;
    background-color:#f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content:space-between;
    
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

form {
   
    flex-direction: column;
   display:flex;
}

form label {
    margin: 10px 0 5px 0;
    font-weight: bold;
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    margin-left: 21%;
   
}

form input, form textarea {
    
    width:50%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
    margin-left: 21%;
}


form input:focus, form textarea:focus {
    outline: none;
    border-color: #212529;
}
.form-row{
    align-items:left;
    text-align:left;
    display:flex;
    justify-content:space-around;
    padding:8px 10px;
   
    
    
    
}
.form-row input{
    
    width:150%;
    flex-direction:row;
}

form button {
    width:15%;
    padding:10px;
    margin-top: 20px;
   margin-left: 50%;
    border-radius:25px;
    background-color: #212529;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}

form button:hover {
    background-color: #343A40;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer div {
    flex: 1;
    margin-right: 20px;
}

footer div:last-child {
    margin-right: 0;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 8px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}