<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/CSS/contact1.css">
   
</head>
<body>
    <header>
        
        <div class="logo"> 
            <img src="/IMAGES/logo.png" alt="Thessit Logo">
        </div>
        
            <h1 >CONTACT US</h1>
        
    </header>
    
    <section class="contact-section">
        <div class="contact-header">
            <u>
        <h2>GET IN TOUCH</h2>
        </u>
        <p>"Have Questions? We're Here to Help!"</p>
        </div>
<form id="contact-section" onsubmit="return validateForm()">
        
            <label for="name">Enter your name</label>
            <input type="text" id="name" placeholder="Full name" required>
            <div id="nameError" class="error"></div>
<div class="form-row">
    <div>
         <label for="phone">Enter your phone number</label>
            <input type="tel" id="phone" placeholder="Mobile number" required>
            <div id="phoneError" class="error"></div>
            </div>
            <div>

           <label for="email">Enter your email</label>
            <input type="email" id="email" placeholder="Email ID" required>
            <div id="emailError" class="error"></div>
            </div>
</div>
            <label for="subject">Enter subject</label>
            <input type="text" id="subject" placeholder="Subject of query" required>

            <label for="message">Enter your message</label>
            <textarea id="message" placeholder="Message" rows="5" required></textarea>
            <div id="messageError" class="error"></div>

            <button type="submit" id="send-message">Send Message</button>
        </form>
    </section>
</div>

    <footer>
        <div class="footer-left">
            <div class="logo"> 
                <img src="/IMAGES/white logo.png" alt="Thessit Logo">
            </div>
            <p>"Your Academic Projects, Our Priority"</p>
        </div>

        <div class="footer-middle">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>

        <div class="footer-right">
            <h3>GET IN TOUCH</h3>
            <p>Email: thessisit@gmail.com</p>
        </div>
    </footer>
    <script src="/JS/contact1.js"></script>
</body>
</html>