<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Page</title>
    <link rel="stylesheet" href="/CSS/homeFAQ.css">
</head>
<body>
    <header>
       
        <div class="logo">
            <a href="index.html">
            <img src="/IMAGES/logo.png" alt="ThesisIT">
            </a>
        </div>
         <h1>FAQ's</h1>
        
    </header>

    <section class="faq-section">
        <h2>Have Any Question?</h2>
       
        <div class="qa-section">
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                <span class="symbol">+</span>
                1. What Is ThesisIT ?
              </div>
              <div class="answer">
                ThesisIT is an online platform designed for students and faculty of the CSE Department at GCOEC. It allows students to submit their final year projects for evaluation and gives faculty a platform to assess these projects. Additionally, juniors can access and learn from their seniors’ projects.

               </div>
            </div>
        
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                <span class="symbol">+</span>
                  2. Who can use ThesisIT ?
              </div>
              <div class="answer">
                The platform is intended for CSE students and faculty of GCOEC. Final year students use it for 
                project submission,faculty for evaluation, and junior students for reference.                                                                                                                           
              </div>
            </div>
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                 <span class="symbol">+</span> 
                  3. How do I Create a profile on ThesisIT ?
              </div>
              <div class="answer">
                Visit the ThesisIT website, click "Sign Up," and provide details like name, roll number and email. Complete the verification process and log in to start using the platform.
              </div>
           </div>
           
           <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                 <span class="symbol">+</span> 
                  4. How can I search for specific projects ?
              </div>
              <div class="answer">
                Search projects using the *Search Bar* with keywords or filters like domain, technology, or Project Names. Projects can also be explored by categories.
              </div>
           </div>
        
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                <span class="symbol">+</span>
                 5. What should I do if I face technical issues while using the platform ?
              </div>
              <div class="answer">
                If you encounter technical issues, you can reach out to the ThesisIT support team via the "Contact Us" section or email them directly. 
              </div>
            </div>
            <div class="qa-item">
                <div class="question" onclick="toggleAnswer(this)">
                  <span class="symbol">+</span>
                 6. How secure is my data on ThesisIT ?
                 
                </div>
                <div class="answer">
                  ThesisIT uses secure protocols to ensure that your data, including project files and personal information, is protected. Only authorized users can access your submissions.
                </div>
          </div>
          </div>

        <div class="contact-section">
            <h3>Can't find what you are looking for?</h3>
            <p>You can now get answers to questions about your queries,account and more in our ThesisIT website
                <br>select the"contact us" button given below and get our support directly.
            </p>
            <a href="/contact1.html"><button class="contact-btn">Contact Us</button></a>
        </div>
    </section>



<footer>
  <div class="footer-left">
      <div class="logo1"> 
          <a href="index.html ">
          <img src="/IMAGES/white logo.png" alt="Thessit Logo">
      </a>
      </div>
      <p>"Your Academic Projects, Our Priority"</p>
  </div>

  <div class="footer-middle">
      <h3>QUICK LINKS</h3>
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="homeFAQ.html">FAQs</a></li>
          <li><a href="signin.html">Register</a></li>
      </ul>
  </div>

  <div class="footer-right">
      <h3>GET IN TOUCH</h3>
      <p>Email: thessisit@gmail.com</p>
  </div>
</footer>


<script src="/JS/homeFAQ.js"></script>
</body>
</html>