<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thesis And Project Vault</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/IMAGES/logo.png"alt="ThesisIT Logo">    
        </div>
         <nav class="nav-icons">
            <ul>
                <a href="/api/aboutus"><img src="/IMAGES/ABOUT US.png" alt="About Us Icon"></a>
                <a href="/api/homefaq"><img src="/IMAGES/FAQ.png" alt="FAQ Icon"></a>
                <a href="/api/contact"><img src="/IMAGES/CONTACT US.png" alt="contact us"></a>
                <a href="/api/option"><img src="/IMAGES/home profile.png" alt="Sign In Icon"></a>
            </ul>
        </nav>
   
    </header>


    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome to ThesisIT</h1>
                <p>"Unlock a world of innovation and knowledge, where past projects inspire future success."</p>
               <a href="/api/option"> <button class="cta-button" >Get Started</button></a>
            </div>
        </section>
    </main>
     
            <!-- Footer Section -->
            <footer>
                <div class="footer-left">
                    <div class="logo"> 
                        <img src="/IMAGES/white logo.png" alt="Thessit Logo">
                    </div>
                    <p>"Your Academic Projects, Our Priority"</p>
                </div>
        
                <div class="footer-middle">
                    <h3>QUICK LINKS</h3>
                    <ul>
                        <li><a href="/Welcome">Home</a></li>
                        <li><a href="/api/aboutus">About Us</a></li>
                        <li><a href="/api/contact">Contact Us</a></li>
                        <li><a href="/api/homefaq">FAQs</a></li>
                        <li><a href="/api/option">Register</a></li>
                    </ul>
                </div>
        
                <div class="footer-right">
                    <h3>GET IN TOUCH</h3>
                    <p>Email: thessisit@gmail.com</p>
                </div>
            </footer>
        
        

    <script src="/JS/script.js"></script>
</body>
</html>