<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuniorFAQ Page</title>
    <link rel="stylesheet" href="/CSS/juniorFAQ.css">
</head>
<body>
    <header>
       
        <div class="logo">
            <a href="/Welcome">
            <img src="/IMAGES/logo.png" alt="ThesisIT">
            </a>
        </div>
         <h1>FAQ's</h1>
        
    </header>

    <section class="faq-section">
        <h2>Have Any Question?</h2>
       
        <div class="qa-section">
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                <span class="symbol">+</span>
                1. How can I view the projects of previous batches or seniors ?
              </div>
              <div class="answer">
                Junior students can log in to their accounts and access the “Projects” section, 
                where they can filter and view projects submitted by seniors.
               </div>
            </div>
        
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                <span class="symbol">+</span>
                  2. What should I do if I forget my password ?
              </div>
              <div class="answer">
                If you forget your password, click on the “Forgot Password" link on the login 
                page and follow the instructions to reset your password.                                                                                                                            
              </div>
            </div>
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                 <span class="symbol">+</span> 
                  3. Can I contact the project guide through ThesisIT ?
              </div>
              <div class="answer">
                ThesisIT allows students to message faculty regarding their projects directly through the platform’s communication feature or via email.
              </div>
           </div>
           
           <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                 <span class="symbol">+</span> 
                  4. Can juniors students download project files ?
              </div>
              <div class="answer">
                No, junior students can only view project details online but cannot download files.
              </div>
           </div>
        
            <div class="qa-item">
              <div class="question" onclick="toggleAnswer(this)">
                <span class="symbol">+</span>
                 5. How can juniors contact seniors about their projects ?
              </div>
              <div class="answer">
                Juniors can contact seniors  via the provided contact details like Email or Mobile No. (if enabled by the project owner).
              </div>
            </div>
            <div class="qa-item">
                <div class="question" onclick="toggleAnswer(this)">
                  <span class="symbol">+</span>
                 6. What kind of information is displayed about each project ?
                 
                </div>
                <div class="answer">
                  Projects display the title, abstract, domain, team members, technologies used and attachments(files,documents,PPT). Contact details are shown if enabled.  

                </div>
          </div>
          </div>

        <div class="contact-section">
            <h3>Can't find what you are looking for?</h3>
            <p>You can now get answers to questions about your queries,account and more in our ThesisIT website
                <br>select the"contact us" button given below and get our support directly.
            </p>
            <button class="contact-btn">Contact Us</button>
        </div>
    </section>



<footer>
  <div class="footer-left">
      <div class="logo1"> 
          <a href="index.html ">
          <img src="/IMAGES/white logo.png" alt="Thessit Logo">
      </a>
      </div>
      <p>"Your Academic Projects, Our Priority"</p>
  </div>

  <div class="footer-middle">
      <h3>QUICK LINKS</h3>
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="homeFAQ.html">FAQs</a></li>
          <li><a href="signin.html">Register</a></li>
      </ul>
  </div>

  <div class="footer-right">
      <h3>GET IN TOUCH</h3>
      <p>Email: thessisit@gmail.com</p>
  </div>
</footer>


<script src="/JS/juniorFAQ.js"></script>
</body>
</html>