<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThesisIT - Sign In</title>
    <link rel="stylesheet" href="/CSS/signin.css">
</head>
<body>

    <header class="header">
        <div class="logo">
           <a href="/Welcome"> <img src="/IMAGES/logo.png" alt="ThesisIT Logo"></a>
        </div>
        <div class="nav-icon">
            <a href="/api/homefaq"><img src="/IMAGES/FAQ.png" alt="FAQ Icon"></a>
        </div> 
</header>
<section class="sign-in-section">
            <h2>Sign In</h2>
            <div class="sign-in-options">
                <a href="/admin/signin"><button class="sign-in-button" id="adminBtn">Admin <img src="/IMAGES/admin.png" alt="Admin Icon"></button></a>
               <a href="/guide/signin"><button class="sign-in-button" id="projectguideBtn">Project Guide <img src="/IMAGES/ProjectG.png" alt="Project Guide Icon"></button></a>
               <a href="/student/signin"><button class="sign-in-button" id="studentBtn">Student <img src="/IMAGES/Sicon.png" alt="Student Icon"></button></a>
            </div>
</section>
<footer>
    <div class="footer-left">
        <div class="logo"> 
            <img src="/IMAGES/white logo.png" alt="Thessit Logo">
        </div>
        <p>"Your Academic Projects, Our Priority"</p>
    </div>

    <div class="footer-middle">
        <h3>QUICK LINKS</h3>
        <ul>
            <li><a href="/Welcome">Home</a></li>
            <li><a href="/api/aboutus">About Us</a></li>
            <li><a href="/api/contact">Contact Us</a></li>
            <li><a href="/api/homefaq">FAQs</a></li>
            <li><a href="/api/option">Register</a></li>
        </ul>
    </div>

    <div class="footer-right">
        <h3>GET IN TOUCH</h3>
        <p>Email: thessisit@gmail.com</p>
    </div>
</footer>
<script src="/JS/signin.js"></script>
</body>
</html>