<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Hub</title>
    <link rel="stylesheet" href="/CSS/view.css">
</head>
<body> 
    

<div class="container">
    <h1>Project Hub</h1>

    <div class="content">
        <div class="content-project">
        <h3>View Project</h3>
        </div>
        <div class="abstract-box">
            <div class="abstract">
            <h4>Abstract</h4>
            
         
            <textarea id="abstract" rows="4" cols="50" placeholder=""></textarea>
        </div>

        <div class="button-group">
            <a href="PHviewOverall.html">  <button class="button" id="viewOverallBtn">View overall project</button></a>
           <a href="projectA.html"> <button class="button" id="viewAlumniBtn">View Project Alumni</button></a>
        </div>
    </div>
</div>

<script src="/JS/view.js"></script>
</body>
</html>